<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistics</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

</head>
<body>
    <div class="card">
              <div class="card-header">
                <h3 class="card-title">Статистика обслуженных талонов</h3>
                <form class="form" method="GET"  style="float:left;">
                    <p>Выберите дату: С <input type="date" name="calendarFrom" id="datePicker" value={{ dateFrom }}>
                    по <input type="date"name="calendarTo" value={{ dateTo }} id="datePicker1">
                    <input type="submit" class="dt-button" value="показать"></p>
                </form>
              </div>
             <div class="row card-body">
                <div class="col-md-6">
                    <div class="card-header">
                        <h6 style="text-align:center"> Количество посетителей по каждой услуги</h6>
                    </div>
                  <canvas id="ChartAllService"></canvas>
                </div>
                <div class="col-md-3">
                    <div class="card-header">
                        <h6 style="text-align:center"> Среднее время ожидания</h6>
                    </div>
                    <canvas id="ChartAverageWorkTime" ></canvas>
                </div>
                <div class="col-md-3">
                    <div class="card-header">
                        <h6 style="text-align:center"> Среднее время обслуживания</h6>
                    </div>
                    <canvas id="ChartAverageWaiteTime" ></canvas>
                </div>

             </div>

        <div class="card">
             <div class="row card-body">
                  <div class="col-md-8">
                    <div class="card-header">
                        <h6 style="text-align:center"> Среднее количество взятых талонов</h6>
                    </div>
                  <canvas id="ChartAveragePeriodTimes"></canvas>
                </div>
                  <div class="col-md-7">
                    <div class="card-header"style="height:80px">
                    <h6 style="text-align:center"> Количество посетителей по каждой услуги</h6>
                     <form class="form" method="GET"  style="float:left;">
                        <p>Выберите дату: С <input type="date" name="calendarFrom" id="datePicker2" value={{ dateFrom }}>
                    по <input type="date"name="calendarTo" value={{ dateTo }} id="datePicker3">
                        <select name="select"style="font-size: 18px;margin-top:2px">
                          <option value="all" selected>Все услуги</option>
                            {% for el in servicesList %}
                          <option value={{ el.0 }} >{{ el.1 }} ({{ el.2 }})</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="dt-button" value="показать"></p>
                     </form>
                    </div>

                  <canvas id="ChartServices"></canvas>
                </div>
             </div>
        </div>
    </div>
    </div>

<script>
    // chart bar 1
  const labels = {{ serviceStatistic|safe }};

  const data = {
    labels: labels,
    datasets: [{
      label: 'Обслуженных талонов',
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192)',
      borderWidth: 1,
      data: {{ clientsPeriodList }},
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };

  const myChart = new Chart(
    document.getElementById('ChartAllService'),
    config
  );
</script>
<script>
      // charts2 pie
      const data1 = {
      labels: {{ serviceStatistic|safe }},
      datasets: [{
        label: 'My First Dataset',
        data: {{ periodWaiteTimes }},
         backgroundColor: [
          'rgba(255, 99, 132)',
          'rgba(255, 159, 64)',
          'rgba(255, 205, 86)',
          'rgba(75, 192, 192)',
          'rgba(54, 162, 235)',
          'rgba(153, 102, 255)',
          'rgba(201, 203, 207)',
          'rgba(250, 128, 114)',
          'rgba(255, 255, 0)',
    ],
        hoverOffset: 4
      }]
    };
    const config1 = {
      type: 'pie',
      data: data1,
    };

    const myChart1 = new Chart(
    document.getElementById('ChartAverageWorkTime'),
    config1
  );
</script>


<script>
      // charts3 pie
      const data2 = {
      labels: {{ serviceStatistic|safe }},
      datasets: [{
        label: 'My First Dataset',
        data: {{ periodWorkTimes }},
         backgroundColor: [
          'rgba(255, 99, 132)',
          'rgba(255, 159, 64)',
          'rgba(255, 205, 86)',
          'rgba(75, 192, 192)',
          'rgba(54, 162, 235)',
          'rgba(153, 102, 255)',
          'rgba(201, 203, 207)',
          'rgba(250, 128, 114)',
          'rgba(255, 255, 0)',
        ],
        hoverOffset: 4
      }]
    };
    const config2 = {
      type: 'pie',
      data: data2,
    };

    const myChart2 = new Chart(
    document.getElementById('ChartAverageWaiteTime'),
    config2
  );
</script>

<script>
    // chart4 bar

  const data3 = {
    labels: {{ timesList|safe }},
    datasets: [{
      label: 'Обслуженных талонов',
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgba(255, 99, 132)',
      borderWidth: 1,
      data: {{ periodClients }},
    }]
  };

  const config3 = {
    type: 'bar',
    data: data3,
    options: {}
  };

  const myChart3 = new Chart(
    document.getElementById('ChartAveragePeriodTimes'),
    config3
  );
</script>
<script>
    // chart5 line
  const labels4 = {{ dateList|safe }};

  const data4 = {
    labels: labels4,
    datasets: [{
      label: 'Обслуженных талонов',
      backgroundColor: 'rgba(255, 99, 132)',
      borderColor: 'rgba(255, 99, 132)',
      borderWidth: 1,
      data: {{ periodServices }},
    }]
  };

  const config4 = {
    type: 'line',
    data: data4,
    options: {}
  };

  const myChart4 = new Chart(
    document.getElementById('ChartServices'),
    config4
  );
</script>

<script>
    document.getElementById('datePicker').valueAsDate = new Date();
    document.getElementById('datePicker1').valueAsDate = new Date();
    document.getElementById('datePicker2').valueAsDate = new Date();
    document.getElementById('datePicker3').valueAsDate = new Date();
</script>
</body>
</html>